*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

     /* banner */
.banner{
    padding-top: 50px;
    padding-bottom: 50px;
   background-color: gray;
}
.banner .row{
    width: 100%;
    display: flex;
   
}
.banner .col-6{
    width: 50%;
    height: 300px;
}
.banner .col-6 .item{
    position: relative;
}
.banner .col-6 .item .box{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    right: -55px;
}

     /* services */
.services{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: azure;
}
.services .row{
    width: 100%;
    display: flex;
    justify-content: end;
}
.services .row .col-6{
    width: 50%;
    height: 300px;
}
.services .row .col-6 .item{
    position: relative;
}
.services .row .col-6 .item .box{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 250px;
    left: -50px;
}

.product{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e5e5e5;
}
.product .row{
    width: 100%;
    display: flex;
    justify-content: start;
}
.product .row .col-6{
    width: 50%;
    height: 300px;
}
.product .row .col-6 .item{
    position: relative;
}
.product .row .col-6 .item .box{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 250px;
    right: -50px;
}

.contact{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact .row{
    width: 100%;
    display: flex;
}
.contact .row .col-6{
    height: 300px;
    width: 50%;
}
.contact .row .col-6 .item{
    position: relative;
}
.contact .row .col-6 .item .box{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 450px;
}
.contact .row .col-12{
    height: 300px;
    width: 100%;
    background-color: blue;
}